# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
env/

# FAISS index
faiss_index/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

memory_store.json
traces/*.json
__pycache__/
*.pyc
